        /* insted of setting in "paragraph" we can set to "body" because we have all the code in it*/
            body{
                margin: 0;
                padding-top: 80px;
                padding-left: 96px;
                padding-right: 24px;
                background-color: rgb(248, 248, 248);
                font-family: roboto,arial;
            }