.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;


    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: rgb(210, 210, 210);
    border-bottom-style: solid;
}
.left-section{
    align-items: center;
    display: flex;
     
}

.handburger-menu{
      height: 26px;
      margin-left: 24px;
      margin-right: 24px;

}

.youtube-logo{
    height: 24px;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 35px;
    padding-left: 16px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(222, 222, 222);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-size: 16px;
}
.search-button{ 
    position: relative;
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(222, 222, 222);
    height: 40px;
    margin-left: -2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* .search-button,
.voice-search-button
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.....etc by this also we can target them and style insted of writing in every container
"ONLY THIS IS WRITTEN IN SUPERATE ALL ARE WRITTEN IN ONLY ONE TOOLTIP*/

.search-button .tooltip,
.voice-search-button .voice-tooltip,
.upload-icon-container .upload-icon-tooltip,
.youtube-apps-icon-container .youtube-apps-tooltip,
.notifications-icon-container .notifications-tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -35px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space:nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .voice-tooltip,
.upload-icon-container:hover .upload-icon-tooltip,
.youtube-apps-icon-container:hover .youtube-apps-tooltip,
.notifications-icon-container:hover .notifications-tooltip
{
    opacity: 1;
}
.search-icon{
    height: 29px;
    /* insted of "align-items: center" we can use "margin-top: 4px" */
}
.voice-search-button{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: hidden;
    margin-left: 10px;
    margin-top: 4px;
    background-color: rgb(240, 240, 240);

    display: flex;
    justify-content: center;
    align-items: center;

}
.voice-search-icon{
    height: 24px;

}
.right-section{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 20px;
}

.uplaod-icon{
    height: 30px;
}
.upload-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube-apps-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.youtube-apps-icon{
    height: 30px;
}

.notifactions-icon{
    height: 30px;
}
.notifications-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
}
.current-user-picture{
    height: 35px;
    border-radius: 30px;
}